/* Reset default styles for better consistency */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: Arial, sans-serif;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(calc(33.33% - 20px), 1fr)
	); /* Set 3 cards per row */
	grid-gap: 20px;
}

.card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	transition: transform 0.3s ease;
}

.card img {
	max-width: 100%;
	max-height: 150px;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
}

.card-content {
	flex: 1;
	padding: 10px 0;
}

.card h2 {
	margin: 10px 0;
	font-size: 20px;
	color: #333;
}

.card p {
	margin: 0;
	font-size: 16px;
	color: #666;
}

/* Simplify the card hover effect */
.card:hover {
	transform: scale(1.05);
}

/* Style for the "Ajouter un site" button */
.button {
	text-align: center;
	display: block;
	margin: 20px 45% 0 45%; /* Center the button */
	padding: 10px 20px;
	font-size: 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button_return {
	margin: 20px 38% 0 38%; /* Center the button */	
}

.button:hover {
	background-color: #45a049;
}

/* Center the button */
.button-container {
	text-align: center;
	margin: 20px auto 40px;
}

/* Add some margin to the top of the cards */
.card-container {
	margin-top: 30px;
}
